{% extends "base.html" %}
{% load i18n %}
{% load allauth account socialaccount %}

{% block content %}
<div class="row mt-4 mb-4">
    <div class="col-md-8 offset-md-2 text-center">
        <p>
            {% blocktrans %}If you have not created an account yet, then please
            <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}
        </p>
        <h2>Login</h2>
    </div>
</div>
<div class="row mt-4 mb-4">
    <div class="col-md-8 offset-md-2">
    {% url 'account_login' as login_url %}
    {% element form form=form method="post" action=login_url tags="entrance,login" %}
        {% slot body %}
            {% csrf_token %}
            {% element fields form=form unlabeled=True %}
            {% endelement %}
            {% if redirect_field_value %}
                <input type="hidden"
                       name="{{ redirect_field_name }}"
                       value="{{ redirect_field_value }}" />
            {% endif %}
        {% endslot %}
        {% slot actions %}
            {% element button type="submit" tags="prominent,login" %}
                {% trans "Log in" %}
            {% endelement %}
        {% endslot %}
    {% endelement %}
    </div>
</div>
{% endblock content %}
