@import url('https://fonts.googleapis.com/css2?family=Exo:wght@300&family=Roboto:wght@300&display=swap');

/* bootstrap elements */

.row{
    --bs-gutter-x: 0;
}

.navbar{
    --bs-navbar-padding-y: 0;
}

/* base.html */
main {
    min-height: 100vh;
}

.whole-screen{
    min-height: 100vh;
}

.white-medium-text {
    color: #f8f7f7;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
}

.white-large-text {
    color: #f8f7f7;
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    font-weight: 900;
}

.center-text {
    text-align: center;
}

.text-to-capital {
    text-transform: capitalize;
}

#hero-div, #hero-img{
    width: 100%;
    position: relative;
}

#ethos-holder{
    position:absolute;
    color:#f8f7f7;
    top:10px;
    width: 250px;
    height:100px;
    right:20px;
    background-color:black;
    opacity: 0.5;
    text-align: center;
}


.footer-div{
    width: 100%;
}