@import url('https://fonts.googleapis.com/css2?family=Exo:wght@300&family=Roboto:wght@300&display=swap');

/* bootstrap elements */

.row{
    --bs-gutter-x: 0;
}

.navbar{
    --bs-navbar-padding-y: 0;
}

/* Common styles */
h1,
h2,
h3,
h4,
h5 {
    font-family: "Roboto", sans-serif;
}

p {
    font-family: "Exo", sans-serif;
}


.white-medium-text {
    color: #f8f7f7;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
}

.white-large-text {
    color: #f8f7f7;
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    font-weight: 900;
}

.center-text {
    text-align: center;
}

.text-to-capital {
    text-transform: capitalize;
}

.card-div{
    height: 75px;
}

/* base.html */

.whole-screen{
    min-height: 100vh;
}

#ethos-holder{
    position:absolute;
    color:rgb(247, 247, 247);
    top:10px;
    width: 250px;
    height: 70px;
    right:30px;
    background-color:rgba(0, 0, 0, 0.3);
    text-align: center;
}

#hero-div, #hero-img{
    width: 100%;
    position: relative;
}

/* Footer */

.footer-div{
    width: 100%;
    height: 150px;
    padding-top: 2px;
}


/* Index */

#welcome-container > div{
    margin-top: 30px;
    margin-bottom: 20px;
}

/* Workout plan */

.accordion{
    --bs-accordion-border-color: #0d6efd;
    --bs-accordion-active-bg: #0d6efd;
}

.accordion-button:not(.collapsed){
    color: #f8f7f7;
}

.exercise-button{
    font-family: "Exo", sans-serif;
    font-weight: 400;
}

.card-title-height{
    height: 36px;
}

