{% extends "base.html" %}
{% load static %}
{% block content %}
{% if user.is_authenticated %}
<div class="row">
    <div class="col-md-6 offset-md-3 mt-2 center-text">
        <h2>Welcome to GymPal</h2>
        {% if info_exists %}
            <h2>{{ trainee.name }}</h2>
            <div class="container-fluid mt-5">
                <div class="row">
                    <div class="col-md-6 mt-4">
                        <div class="card">
                            <img src="{% static 'images/form.jpg' %}" class="card-img-top" alt="information form">
                            <div class="card-body">
                              <h5 class="card-title">Update Info</h5>
                              <p class="card-text">Please update your info regularly</p>
                              <a class="btn btn btn-primary btn-lg" href="{% url 'info_update' trainee.name %}">Go to form</a>
                            </div>
                          </div>
                    </div>
                    <div class="col-md-6 mt-4">
                        <div class="card">
                            <img src="{% static 'images/dumbells.jpg' %}" class="card-img-top" alt="dumbells in rack">
                            <div class="card-body">
                              <h5 class="card-title">Workout Plan</h5>
                              <p class="card-text">Follow your workout plan as close as possible</p>
                              <a class="btn btn btn-primary btn-lg" href="{% url 'workout_plan' trainee.name %}">See Plan</a>
                            </div>
                          </div>
                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mt-4">
                        <div class="card">
                            <img src="{% static 'images/diet.jpg' %}" class="card-img-top" alt="dish of yogurt and granola">
                            <div class="card-body">
                              <h5 class="card-title">Diet Logs</h5>
                              <p class="card-text">Track your calories to complement workout plan</p>
                              <a class="btn btn btn-primary btn-lg" href="{% url 'dlogs_view' trainee.name %}">See Logs</a>
                            </div>
                          </div>
                    </div>
                    <div class="col-md-6 mt-4">
                        <div class="card">
                            <img src="{% static 'images/logs.jpg' %}" class="card-img-top" alt="data graph">
                            <div class="card-body">
                              <h5 class="card-title">Workout Logs</h5>
                              <p class="card-text">See your workout progress in time</p>
                              <a class="btn btn btn-primary btn-lg" href="{% url 'wlogs_view' trainee.name %}">See Logs</a>
                            </div>
                          </div>
                        
                    </div>
                </div>
            </div>
        {% else %}
            <form method="POST">
                {{ info_form.as_p }}
                {% csrf_token %}
                <button type="submit">Submit</button>
            </form>
        {% endif %}
    </div>
</div>
{% else %}
<div id ="welcome-container" class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 center-text">
            <h3>GYMPAL Is Your Personal Trainer</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 center-text">
            <h4>Workout Plans  <i class="fa-solid fa-dumbbell"></i></h4>
            <div>
                <p>Receive personalised workout plans to achieve your goal</p>
            </div>
        </div>
        <div class="col-md-4 center-text">
            <h4>Diet advice <i class="fa-solid fa-utensils"></i></h4>
            <div>
                <p>Receive personalised workout plans to achieve your goal</p>
            </div>
        </div>
        <div class="col-md-4 center-text">
            <h4>Track your progress <i class="fa-regular fa-file-lines"></i></h4>
            <div>
                <p>Receive personalised workout plans to achieve your goal</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 offset-md-3 center-text">
            <h3>Continue Your Journey</h3>
        </div>
        <div class="col-md-4 center-text">
            <p class="mt-2 mb-2"><a href="{% url 'account_login' %}" class="btn btn btn-primary"
                href="{% url 'account_login' %}">Login</a>
            </p>
        </div>
        <div class="col-md-4 center-text">
            <p class="mt-2 mb-2">Or
            </p> 
        </div>
        <div class="col-md-4 center-text">
            <p class="mt-2 mb-2"><a href="{% url 'account_signup' %}" class="btn btn btn-primary" href="{% url 'account_login' %}">Join Us</a>
            </p> 
        </div>
    </div>
</div>
{% endif %}

{% endblock %}