{% extends "base.html" %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}
<!-- if user is logged in-->
{% if user.is_authenticated %}
<!-- if user is staff the welcome will be here -->
{% if user.is_staff %}
<div class="container-fluid mt-5">
    <div class="row mt-4 mb-4">
        <div class="col-md-8 offset-md-2 bg-primary center-text white-medium-text">
            <h3>YOU ARE LOGGED AS ADMINISTRATOR</h3>
        </div>
    </div>
    <div class="row mt-4 mb-4">
        <div class="col-md-3 offset-md-2">
            <div class="card">
                <div class="card-body ">
                    <h5 class="card-title">Site Users Summary</h5>
                    {% if trainees_data %}
                    <p class="card-text">
                        Current number of users: {{ trainees_data.0 }}
                    </p>
                    <p class="card-text">
                        Average age if users: {{ trainees_data.1 }}
                    </p>
                    <p class="card-text">
                        Overall users performance: {{ performance }}
                    </p>
                    {% else %}
                    <p>The site has no user yet</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-4 offset-md-1">
            <div class="card">
                <div class="card-body ">
                <h5 class="card-title">Exercise Catalog</h5>
                <p class="card-text">
                    Currently the catalog contains a total of {{ exercise_data.0 }} exercises for {{ exercise_data.1 }} muscle groups
                </p>
                <p class="card-text">
                    To check and edit the catalog, please click on the button below
                </p>
                <a class="btn btn btn-primary" href="{% url 'catalog' %}">Go to catalog</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- if user is not staff welcome is here -->
{% else %}
<div class="row mb-4 mt-4">
    <div class="col-sm-10 offset-sm-1 col-md-8 offset-md-2 mt-2">
        <!-- this will display if user has already provided info once -->
        {% if info_exists %}
            
            <div class="container-fluid mt-5">
                <div class="row mt-5 mb-4">
                    <div class="col-md-8 offset-md-2 bg-primary center-text white-medium-text">
                        <h2> HI {{ trainee.name|upper }}!</h2>
                        <h3>PLEASE REMEMBER, RECOMMENDED DAILY CALORIES FOR THIS WEEK:</h3>
                        <h3><strong id="cal-container">{{ trainee.calories }}</strong></h3>
                    </div>
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="col-md-5 m-1 offset-md-1">
                        <div class="card">
                            <img src="{% static 'images/form.jpg' %}" class="card-img-top" alt="information form">
                            <div class="card-body ">
                              <h5 class="card-title">Update Info</h5>
                              <p class="card-text card-div">Please update your info regularly</p>
                              <a class="btn btn btn-primary btn-lg" href="{% url 'info_update' trainee.name %}">Go to form</a>
                            </div>
                          </div>
                    </div>
                    <div class="col-md-5 m-1">
                        <div class="card">
                            <img src="{% static 'images/dumbells.jpg' %}" class="card-img-top" alt="dumbells in rack">
                            <div class="card-body">
                              <h5 class="card-title">Workout Plan</h5>
                              <p class="card-text card-div">Follow your workout plan as close as possible</p>
                              <a class="btn btn btn-primary btn-lg" href="{% url 'workout_plan' trainee.name %}">See Plan</a>
                            </div>
                          </div>
                        
                    </div>
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="col-md-5 m-1">
                        <div class="card">
                            <img src="{% static 'images/diet.jpg' %}" class="card-img-top" alt="dish of yogurt and granola">
                            <div class="card-body">
                              <h5 class="card-title">Diet Logs</h5>
                              <p class="card-text card-div">Track your calories to complement workout plan</p>
                              <a class="btn btn btn-primary btn-lg" href="{% url 'dlogs_view' name=trainee.name page=1 %}">See Logs</a>
                            </div>
                          </div>
                    </div>
                    <div class="col-md-5 m-1">
                        <div class="card">
                            <img src="{% static 'images/logs.jpg' %}" class="card-img-top" alt="data graph">
                            <div class="card-body">
                              <h5 class="card-title">Workout Logs</h5>
                              <p class="card-text card-div">See your workout progress in time</p>
                              <a class="btn btn btn-primary btn-lg" href="{% url 'wlogs_view' name=trainee.name page=1 %}">See Logs</a>
                            </div>
                          </div>
                        
                    </div>
                </div>
            </div>
        <!-- if user has just joined, he will be prompted to provide info -->
        {% else %}
        <div class="container">
            <div class="row bg-primary">
                <div class="col-md-6 offset-md-3 center-text">
                    <h2 class="white-large-text">Your Information</h2>
                </div>
            </div>
            <div class="row mb-4 mt-4">
                <div class="col-sm-8 offset-sm-2 col-md-4 offset-md-4 d-flex justify-content-center">
                    <form method="POST">
                        {{ info_form|crispy }}
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary mt-3">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>

{% endif %}
<!-- if user is not logged in -->
{% else %}
<div id ="welcome-container" class="container">
    <div class="row bg-primary">
        <div class="col-md-6 offset-md-3 center-text">
            <h3 class="white-large-text">GYMPAL Benefits</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 center-text">
            <h4>Workout Plans  <i class="fa-solid fa-dumbbell"></i></h4>
            <div>
                <p>Receive personalised workout plans to achieve your goal</p>
            </div>
        </div>
        <div class="col-md-4 center-text">
            <h4>Diet advice <i class="fa-solid fa-utensils"></i></h4>
            <div>
                <p>Receive personalised diet advice to complement workout</p>
            </div>
        </div>
        <div class="col-md-4 center-text">
            <h4>Track your progress <i class="fa-regular fa-file-lines"></i></h4>
            <div>
                <p>Access your past workout and diet logs</p>
            </div>
        </div>
    </div>
    <div class="row bg-primary">
        <div class="col-md-6 offset-md-3 center-text">
            <h3 class="white-large-text">Start a Session</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 center-text">
            <div>
                <p>If you are already registererd for our service</p>
            </div>
            <div>
                <p class="mt-2 mb-2"><a href="{% url 'account_login' %}" class="btn btn btn-primary"
                    href="{% url 'account_login' %}">Login</a>
            </p>
            </div>
        </div>

        <div class="col-md-6 center-text">
            <div>
                <p>If you want to start receiving GYMPAL benefits</p>
            </div>            
            <div>
                <p class="mt-2 mb-2"><a href="{% url 'account_signup' %}" class="btn btn btn-primary" href="{% url 'account_login' %}">Join Us</a></p> 
            </div>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}