{% extends 'base.html' %}
{% block content %}

<div class="container mb-4">
    <!-- Displays an input to log calories -->
    {% if log_type == 'diet' %}
    {% if not up_to_date %}
    
    <div class="row mt-4 mb-4">
        <div class="col-md-8 offset-md-2 bg-primary center-text white-medium-text">
            <h3>LOG DIET ENTRY</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 offset-md-3 center-text">
            <form action="{% url 'diet_update' name=name %}" method="POST">
                {% csrf_token %}
                <div class="row mt-3 mb-3">
                    <div class="col">
                        <label for="diet_input">Please enter consumed calories</label>
                    </div>
                </div>
                <div class="row mt-3 mb-3">
                    <div class="col">
                        <input id="diet_input" name="diet_input" type="text" required>
                    </div>
                </div>
                <div class="row mt-3 mb-3">
                    <div class="col">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {% endif %}
    {% endif %}

    <!-- The logs display starts here -->
    <div class="row mt-4 mb-4">
        <div class="col-md-8 offset-md-2 bg-primary center-text white-medium-text">
            <h2>YOUR {{ log_type|upper }} LOGS</h2>
        </div>
    </div>
    <!-- Displays date inputs to narrow searches -->
    <div class="row mb-4 mt-4">
        <div class="col-md-6 offset-md-3 center-text border">
            <div class="row">
                <div class="col center-text">
                    <h3>Narrow Your Search Dates</h3>
                </div>
            </div>
            {% if log_type == "workout" %}
            <form method="post" action="{% url 'wlogs_view' name=name page=1 %}">
            {% else %}
            <form method="post" action="{% url 'dlogs_view' name=name page=1 %}">
            {% endif %}
                <div class="row mt-3 mb-3">
                    <div class="col-md-6 offset-md-3">
                        <label for="start-date">Start Date</label>
                        <input type="date" id="start-date" name="start_date" required>
                    </div>
                </div>
                <div class="row mt-3 mb-3">
                    <div class="col-md-6 offset-md-3">
                        <label for="start-date">End Date</label>
                        <input type="date" id="end-date" name="end_date" required> 
                    </div>
                </div>
                <div class="row mt-3 mb-3">
                    <div class="col-md-6 offset-md-3">
                        <button class="btn btn-primary" type="submit">Search</button>
                        {% if log_type == 'workout' %}
                        <a class="btn btn-primary" href="{% url 'wlogs_view' name=name page=1 %}">Clear</a>
                        {% else %}
                        <a class="btn btn-primary" href="{% url 'dlogs_view' name=name page=1 %}">Clear</a>
                        {% endif %}
                    </div>
                </div>
                
                {% csrf_token %}
            </form>    
        </div>
    </div>
    {% if logs %}
    <!-- This contains table element for either workout or diet logs -->
    {% if log_type == "workout" %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Muscle Group</th>
                <th scope="col">Exercise</th>
                <th scope="col">Sets</th>
                <th scope="col">Reps</th>
            </tr>
        </thead>
        <tbody>
            {% for log in logs %}
            <tr>
                <th scope="col">{{ log.logged_date }}</th>
                <th scope="col">{{ log.excercise.muscle_group }}</th>
                <th scope="col">{{ log.excercise.name }}</th>
                <th scope="col">{{ log.sets_actual }}</th>
                <th scope="col">{{ log.reps_actual }}</th>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Registered</th>
                <th scope="col">Suggested</th>
            </tr>
        </thead>
        <tbody>
            {% for log in logs %}
            <tr>
                <th scope="col">{{ log.created_date }}</th>
                <th scope="col">{{ log.calories }}</th>
                <th scope="col">{{ log.calories_ideal }}</th>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
    <!-- Logs display finishes -->
    <!-- Pages controls starts here -->
    <div class="row">
        <div class="col-md-8 offset-md-2">
            {% if logs.has_other_pages %}
            <nav aria-label="Pagination Nav">
                <ul class="pagination">
                    {% for i in logs.paginator.page_range %}
                    <!-- For workout view-->
                    {% if log_type == "workout" %}
                    <!-- Deciding the active page -->
                    {% if logs.number == i %}
                    <li class="page-item active"><a class="page-link" href="{% url 'wlogs_view' name=name page=i %}">{{ i }}</a></li>
                    {% else %}
                    <li class="page-item"><a class="page-link" href="{% url 'wlogs_view' name=name page=i %}">{{ i }}</a></li>
                    {% endif %}
                    {% else %}
                    <!-- For diet view-->
                    <!-- Deciding the active page -->
                    {% if logs.number == i %}
                    <li class="page-item active"><a class="page-link" href="{% url 'dlogs_view' name=name page=i %}">{{ i }}</a></li>
                    {% else %}
                    <li class="page-item"><a class="page-link" href="{% url 'dlogs_view' name=name page=i %}">{{ i }}</a></li>
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                </ul>
            </nav>
            {% endif %}
        </div>
    </div>
    {% else %}
    <div class="row mt-4 mb-4">
        <div class="col-md-8 offset-md-2 center-text">
            <h5>No records to display</h5>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}