{% extends 'base.html' %}
{% block content %}
    
    <div class="container">
        <div class="row">
            {% for log in logs %}
            <div class="col-md-4 offset-md-1">
                <div class="card">
                    <img src="{{ log.excercise.guide_image.url }}" class="card-img-top" alt="exercise image">
                    <div class="card-body">
                        <h5 class="card-title">{{ log.excercise.name }}</h5>
                        <p class="card-text">Sets: {{log.sets_ideal }}</p>
                        <p class="card-text">Reps: {{log.reps_ideal }}</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}